body{
    background-image: url(images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.logo{
    margin-left: 3%;
    margin-right: 55%;
    
}

.navbar{
    display: flex;
   
}

  
ul{
    list-style: none;
    font-size: 30px;
    
  
}

li{
    display: inline-block;
    padding: 15px 30px;
}
.section{
    display: flex;
    padding-top: 70px;
    
}
.content{
    font-size: 50px;
   margin-left: 10%;
  line-height: 75px;
   font-style: italic;
}
.image{
   margin-right: 10%; 
}